<h1>Listing poems</h1>
<%= link_to 'New poem', new_poem_path %>
<table>
  <tr>
    <th>Picture/th>
    <th>Information</th>
  </tr>
 
  <% @poems.each do |poem| %>
    <tr>
      <td><%= poem.picture %></td>
      <td><%= poem.information %></td>
      <td><%= link_to 'Show', poem_path(poem) %></td>
      <td><%= link_to 'Edit', edit_poem_path(poem) %></td>
      <td><%= link_to 'Destroy', poem_path(poem),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

</table>