<!DOCTYPE html>
<html>
<head>
  <title>ARI-WORLD</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<!-- Fixed navbar -->
   <div class="navbar navbar-default navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="http://localhost:3000/">ARI-LAND</a>
       </div>
       <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li><a href="http://localhost:3000/about">About</a></li>
           <li><a href="http://localhost:3000/poems">Poem</a></li>
           <li><a href="http://ssd.opencollege.kr/capstones/12">Story</a></li>
           <li>
            <% if user_signed_in? %>
              <%= link_to "log-out",destroy_user_session_path,method: :delete %>
            <% else %>
              <%= link_to "facebook-log-in"	,user_facebook_omniauth_authorize_path %>
            <% end %>
           </li>
           <li>
           <% if user_signed_in? %>
           	<p><%= image_tag(current_user.image, size: '50x50', style:'border-radius:3px;vertical-align:top;') if current_user.image %> <%= current_user.name %></p>
           <% end %>
           </li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>
   <div class="container">
	<%= yield %>
   </div>
 </body>
</html>
